body {
	text-align: center;
}
hr {
	color: #F15F41;
	border: 1px solid #F15F41;
	width: 25px;
}
h2 {
	font-size: 25px;
}
.text-gray {
	color: #CCCACC;
}
.text-white {
	color: white;
}
.text-color {
	color: #F15F41;
}
/*---------- SECCIO SERVICIOS ----------*/
#servicios {
	padding: 5%;
}
#servicios span {
	color: #F15F41;
	font-size: 45px;
}
.serv {
	margin-right: 6%;
	margin-left: 6%;
}
/*---------- SECCION TRABAJOS ---------*/
#trabajos {
	background: #232123;
}
.white {
	background: white;
	border-radius: 20px;
	border: white;
	color: black;
}
.uno {
	background-image: url("../img/portfolio/1.jpg");
	background-size: cover;
    height: 240px;
}
.dos {
	background-image: url("../img/portfolio/2.jpg");
	background-size: cover;
    height: 240px;
}
.tres {
	background-image: url("../img/portfolio/3.jpg");
	background-size: cover;
    height: 240px;
}
.cuatro {
	background-image: url("../img/portfolio/4.jpg");
	background-size: cover;
    height: 240px;
}
.cinco {
	background-image: url("../img/portfolio/5.jpg");
	background-size: cover;
    height: 240px;
}
.seis {
	background-image: url("../img/portfolio/6.jpg");
	background-size: cover;
    height: 240px;
}
.github {
	padding: 3%;
}
.txt {
	font-size: 20px;
}
/*---------- SECCION CONTACTAME ----------*/
#contactame {
	padding: 4%;
}
#contactame p {
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 2%;
}
.contc {
	margin-left: 25%;
	margin-right: 25%;
}
#contactame span {
	font-size: 40px;
}