body {
	text-align: center;
}
/*---------- Header Zazil ----------*/
header {
  background-image: url('../img/header.jpg');
  position: relative;
  width: 100%; /* Asi el header abarca el 100% en cualquier tamano de pantalla*/
  background-size: cover;
  background-position: center;  
  text-align: center;
  color: white;
}
.navbar {
  background-color: transparent;
}
a {
	color: white;
	opacity: 0.7;
}
.saludo {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .hrorg {
  border-color: #f15f41;
  border-width: 3px;
  max-width: 50px;
}
.hrwht {
  border-color: white;
  border-width: 3px;
  max-width: 50px;
}
/*---------- Seccion Sobre mi Zazil ----------*/
.bg-org {
  background-color: #f15f41;
  color: white;
}
.btn {
  border: none;
  border-radius: 200px;
  font-weight: 500;
  padding: 15px 30px;
}
p  {
	opacity: 0.7;
}
menu-bar {
	display: none;
}
/*Para contraer el nav y hacer un menu responsive*/
@media screen and (max-width:600px) {
  header nav {
    width: 80%;
    height: 100%;
    position: fixed;
    margin: 0;
  }
  header nav ul li {
    display: block;
    float: none;
  }
  .menu-bar {
    display: block;
    width: 100%;
  }
  .menu-bar .bt-menu {
    display: block;
    padding: 30px;
  }
  .menu-bar span {
    float: right;
    font-size: 30px;
  }
  a {
    opacity: 1;
  }
}
